BasedOnStyle: LLVM
IndentWidth: 2
ColumnLimit: 100
AccessModifierOffset: -4
NamespaceIndentation: All
BreakBeforeBraces: Custom
BraceWrapping:
  AfterEnum: false
  AfterStruct: false
  AfterClass: false
  SplitEmptyFunction: false
  AfterControlStatement: false
  AfterNamespace: false
  AfterFunction: false
  AfterUnion: false
  AfterExternBlock: false
  BeforeCatch: false
  BeforeElse: false
  SplitEmptyRecord: true