InlayHints:
  BlockEnd: No
  Designators: No
  Enabled: Yes
  ParameterNames: Yes
  DeducedTypes: Yes
  TypeNameLimit: 24
Diagnostics:
  ClangTidy:
    Add: modernize* readability* performance* bugprone* cppcoreguidelines*
    Remove: modernize-use-trailing-return-type
CompileFlags:
  Add: [-std=gnu++20,
        -I/usr/include/c++/13/,
        -I/usr/include/x86_64-linux-gnu/c++/13,
        -Wall,
        -Wextra,
        -Werror,
        -pedantic,
        -Wno-gnu-zero-variadic-macro-arguments]