# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Cmake
build/
qpkg/example-project

# Temporary files
temp/
.vscode
docs/Testing/Temporary/LastTest.log
bin/
memory-optimization/
TODO
libquixcc/test/src/test-suite.cc
ct_*.json
critical-points.txt
parse.py
data.json
out.qh
lexer-speed.json
lexer-throughput.json
data.raw
lexer-time-per-token.json
quixcc-benchmark.q
orbit/.qpkg
a.out.c
s.json

.qpkg/
app
main.c
libquix-lexer/fuzzer/corpus/*
fuzz-*.log
